.App {
  text-align: center;
  font-family: "Space Mono", monospace;
}
a {
  text-decoration: none;
}

h2 {
  font-size: 1.3em;
}

.Header {
  display: grid;
  justify-content: normal;
  grid-template-columns: 40vw auto;
  align-items: baseline;
  text-align: left;
  padding-left: 10px;
  padding-right: 0;
  margin-right: 0;
  align-items: center;
  background-color: #f9a620;
  font-family: "Space Mono", monospace;
  border-bottom: 1px solid black;
  box-shadow: 2px 2px 2px 2px #888888;
}
h2 {
  color: #000;
}
.CommentDiv {
  font-family: "Space Mono", monospace;
  text-align: center;
}

.LinkNews {
  background-color: #fdffff;
  padding: 5px;
  padding-left: 10px;
  margin: 10px;
  text-align: left;
  width: 75vw;
  border-radius: 20px;
}
.LinkNewsSingle {
  padding: 10px;
  margin: auto;
  padding-left: 10px;
  text-align: justify;
  width: 90vw;
  align-self: center;
  border-radius: 20px;
  padding-top: 0;
}
.author {
  margin: auto;
  font-family: "Space Mono", monospace;
  text-align: center;
}
.authorOfComment {
  margin: auto;
  display: flex;
  font-family: "Space Mono", monospace;
  text-align: left;
  padding-left: 10px;
  align-items: center;
  padding-top: 5px;
}

.authorList {
  margin-top: 0;
  font-family: "Space Mono", monospace;
  margin-bottom: 0;
}

.SingleArticleHeader {
  margin-bottom: 0px;
  margin-top: 0px;
  text-align: center;
}

li {
  list-style: none;
}

ul {
  display: grid;
  grid-template-columns: 75vw 25vw;
  justify-items: center;
  align-items: center;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-right: 25vw;
  padding-inline-start: 10px;
}

.Nav {
  padding-left: 0px;
  display: grid;
  grid-template-columns: 25% 25% 25%;
  grid-template-areas: "a b c";
  justify-content: space-between;
  justify-items: start;
  align-items: baseline;
  padding: 10;
  padding-top: 10px;
}

.NewsDiv {
  border-color: #000;
  display: grid;
  grid-template-columns: 50%;
  align-content: center;
  justify-content: center;
  align-items: center;
  justify-items: center;
  height: 150px;
  width: 70px;
  border-radius: 20px;
  text-align: center;
}

.BigLink {
  color: #000;
  display: flex;
  margin-left: 10px;
  flex-direction: column;
  align-items: center;
}

.NCNews {
  margin-left: 0;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  padding-right: 0;
  margin-right: 0px;
  color: rgb(255, 255, 255);
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}

.Upvote {
  height: 30px;
  width: 30px;
  margin: 10px;
  border-style: none;
  background-color: white;
  color: #000;
  padding: 0px;
}

.UpVoteButton {
  height: 30px;
  width: 30px;
  padding-left: 0px;
  align-self: center;
  text-align: center;
  color: #000;
}
.divider {
  width: 100vw;
  border: 1px solid #e6e6e6;
  display: flex;
  min-width: 100vw;
  margin: auto;
}

.CategoryDivider {
  width: 100vw;
  border: 1px solid #e6e6e6;
  display: flex;
  min-width: 100%;
}

.articleTitles {
  margin-bottom: 0;
  margin-top: 0;
}

.HomeButton {
  text-align: center;
  align-items: baseline;
  color: #000;
  height: 20px;
  width: 20px;
  grid-area: a;
  margin-right: 20px;
  align-self: baseline;
}

.CategoryIcon {
  grid-area: b;
  height: 20px;
  width: 20px;
  color: #000;
}

.backArrow {
  padding-left: 20px;
  padding-top: 10px;
  width: 30px;
  margin: 0px;
}

.backArrowIcon {
  height: 30px;
  width: 30px;
  color: #39393a;
}

.UserIcon {
  height: 20px;
  width: 20px;
  grid-area: c;
  color: #000;
}
.UserIconComments {
  height: 20px;
  width: 20px;
  padding-right: 5px;
}

.SingleArticleTag {
  text-align: right;
  color: #888888;
  font-size: medium;
}

.DatePosted {
  margin: 0;
  font-size: 0.8em;
  color: #39393a;
}
.DatePostedSingleArticle {
  margin: 0;
  font-size: 0.8em;
  color: #39393a;
  text-align: center;
  padding-bottom: 10px;
}

.DatePostedComment {
  margin: 0;
  font-size: 0.8em;
  color: #39393a;
  text-align: left;
  padding-bottom: 10px;
  padding-left: 10px;
}

.CategoryList {
  padding-right: 10px;
  padding-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.CategoryH1 {
  font-size: medium;
}

.CategorySlug {
  padding-left: 50px;
  padding-right: 50px;
}

.LinkNewsTopics {
  display: flex;
  flex-direction: row;
}

.ulTopicArticles {
  display: grid;
}

.TopicSlug {
  font-size: larger;
  display: flex;
  text-align: center;
  padding: 0;
  margin-top: 10;
  margin-bottom: 0;
}
.backArrowCat {
  display: flex;
  width: 75vw;
  margin: 0px;
  text-align: left;
}

.backArrowIconCat {
  height: 30px;
  width: 30px;
  color: #39393a;
  padding-left: 10px;
}
.BackArrowCategories {
  text-align: right;
  padding: 0;
  margin: 0;
  width: 60vw;
}

.CategoryDividerComments {
  width: 50vw;
  justify-self: center;
  border: 2px solid #e6e6e6;
  margin: auto;
}

.dividerNewsBod {
  width: 100vw;
  border: 1px solid #e6e6e6;
  display: flex;
  min-width: 100vw;
  margin: auto;
  margin-left: 65px;
}

.SortBy {
  width: 100vw;
  height: 50px;
  margin-top: 5px;
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  flex-wrap: wrap;
}

.SortByOnTopics {
  width: 80vw;
  height: 50px;
  margin-top: 0px;
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  flex-wrap: wrap;
}

.SortByText {
  text-align: left;
  padding-left: 20px;
}

.NewButton {
  height: 40px;
  width: 50px;
  font-size: 25px;
  font-family: "Space Mono", monospace;
  border-radius: 10px;
  margin-left: 5px;
  text-align: center;
}

.SortByTextOnTopics {
  text-align: left;
  padding-left: 10px;
}
.Comments {
  text-align: left;
  padding-left: 20px;
  color: #39393a;
  text-decoration: underline;
}

.CommentsUL {
  display: flex;
  flex-direction: column;
  margin: auto;
}

.CommentLI {
  border: 1px solid #39393a;
  border-radius: 25px;
  text-align: left;
  margin-bottom: 10px;
  padding-left: 10px;
  width: 70vw;
}

.CommentBody {
  margin-top: 0;
}

.Loading {
  text-align: center;
  margin: auto;
  margin-top: 50%;
}

.LoggedInUser {
  text-align: center;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  border: 2px solid #39393a;
  margin-top: 10px;
}

.UserCard {
  border: 1px solid #888888;
  border-radius: 25px;
  width: 70vw;
  margin: auto;
  margin-top: 20vh;
  background-color: #e6e6e6;
}

.AddComment {
  padding: 10px;
  display: flex;
  align-items: center;
}

.InputComment {
  border: 1px solid black;
  border-radius: 20px;
  height: 10vh;
  width: 60vw;
  display: flex;
  margin-left: 30px;
  margin-bottom: 10px;
}

.commentButton {
  margin: 10px;
  border-radius: 20px;
  border: 1px solid black;
  height: 30px;
  align-self: center;
}

.AddCommentDiv {
  display: flex;
  flex-direction: column;
}

.AddCommentP {
  text-align: left;
  padding-left: 30px;
  padding-bottom: 0;
  margin-bottom: 10px;
}

.SubmitComment {
  font-family: "Space Mono", monospace;
  text-align: center;
  display: flex;
  /* margin-left: 20px; */
}

.commentForm {
  display: flex;
  flex-direction: row
  
  
}